html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #708090;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #f4a460;
	padding: 0 20px 0;
	border: 5px solid black;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: darkblue;
	text-shadow: 3px 3px 1px yellow;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}


img {
	display: block;
	margin: 0 auto;
}

.firefox {
	width: 400px;
}